{% extends "core/base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Liste des Offres d'Emploi</h1>
        <ul class="list-group">
            {% for offer in job_offers %}
                <li class="list-group-item">
                    <h5>{{ offer.title }}</h5>
                    <p>{{ offer.description }}</p>
                    <small>{{ offer.location }} | {{ offer.contract_type }}</small>
                    <br>
                    <!-- Ajout du lien vers la page de détails -->
                    <a href="{% url 'job_offer_detail' offer.id %}" class="btn btn-primary mt-2">Détails</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
