<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}  <!-- Chargement du module static -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Offres d'emploi{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}"> <!-- Lien vers le fichier CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    {% block extra_css %}{% endblock %}
</head>
<body>

    <header>
        <h1>Plateforme d'Offres d'Emploi</h1>
        <nav class="navbar">
            <div class="container">
                <!-- <a href="{% url 'home' %}" class="navbar-brand">Offres d'Emploi</a> -->
        
                <div class="navbar-links">
                    <a href="{% url 'job_offers' %}">Offres</a>
        
                    {% if user.is_authenticated %}
                        {% if user.role == "recruiter" %}
                            <a href="{% url 'recruiter_dashboard' %}" class="btn btn-primary">👤 Mon Tableau de bord</a>
                        {% elif user.role == "job_seeker" %}
                            <a href="{% url 'candidate_dashboard' %}" class="btn btn-primary">👤 Mon Tableau de bord</a>
                        {% endif %}
                        <a href="{% url 'logout' %}" class="btn btn-danger">🚪 Déconnexion</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-success">🔑 Connexion</a>
                    {% endif %}
                </div>
            </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - Tous droits réservés</p>
    </footer>

</body>
</html>
